.header-container{
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: baseline;
    margin: 0;
}
.mainLogo{
    width: 250px;
    height: 100px;
    border-radius: 50%;
}
.header{
    /* margin: 0 auto; */
    width: 100%;
}

ul{
    list-style: none;
}
li{
    float: left;
    margin-right:20px;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.dropDown .dropDownMenu{
    display: none;
}
.dropDown:hover .dropDownMenu{
    display: block;
    justify-content: center;
    position: absolute;
    top: 120px;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 300px;
    padding: 10px 0 30px;
    text-align: left;
    background-color: rgb(30, 159, 243);
}
.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    
}
