.ItemDetail {
    display: flex;
    justify-content: space-around;
    
}
.textStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vh;
}
.btncss {
    float: right;
    margin-right: 250px;
}

.imgcls {
    width: 30vh;
}