.userJoinOuter{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
    width: 100vw;
    height: 100vh;
}
.form{
    display: flex;
    width: 50vw;
    height: 80vh;
    border: 1px solid black;
    align-items: center;
    /* justify-content: start; */
    flex-direction: column;

}
input{
    width: 300px;
    padding: 5px;
    margin: 5px;
}
#userJoinInner{
    display: flex;
    align-items: center;
    /* justify-content: end; */
    flex-direction: column;
    /* background-color: black; */
} 

.postmodal{
    background : rgba(0,0,0,0.25);
    position : fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
}