 .form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    /* width: 100vw; */
    /* height: 100vh; */
}
.form-el{
    width: 300px;
}
.message{
    color: red;
}
input{
    /* width: 300px;
    padding: 5px;
    margin: 5px; */
}
#userJoinInner{
    /* display: flex;
    align-items: center;
    flex-direction: column; */
} 

.postmodal{
    background : rgba(0,0,0,0.25);
    position : absolute;
    display: block;
    left:0;
    top:0;
    height:400px;
    width:400px;
} 