.userJoinOuter{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
    width: 100vw;
    height: 100vh;
}
.form{
    width: 50vw;
    height: 50vh;
    border: 1px solid black;
}
 
#userJoinInner{
    justify-content: center;
} 