
.modifyform{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    flex-flow: column;
    
    /* width: 100%; */
}
.modifyform input{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: 1px solid black;
    /* border-radius: 45px; */
    width: 300px;
    flex-flow: column;
    /* width: 100%; */
}

.modifyform button{
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    flex-flow: column;
}
.form-el{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modify-container{
    margin: 0 auto;
    width:500px;
    height: 100vh;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
    /* border: 1px solid black; */
    justify-items: center;
}
