
.modalcls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footercls {
    display: flex;
    justify-content: center;
}
.uploadIcon{
    background: transparent;
    border: 0;
    outline: 0;
    position: relative;
    top: 30px;
    right: 10px;
}

.sample-mypage-container{
    width: 100%;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    
}
.sample-mypage-nav{
    display: flex;
    width: 30%;
    flex-direction: column;
    border-right: 1px solid #eaedf2;
    padding: 20px;
}
.sample-mypage-info{
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 150px;
}
.sample-mypage-imageSetting{
    height: 120px;
    border: 1px solid #eaedf2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sample-mypage-imageSetting button{
    /* background-color: transparent;
    width: 80px;
    height: 50px;
    border-radius: 40px; */
}
.sample-mypage-list{
    padding-top: 10px;
}
.sample-mypage-list ul{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #eaedf2;
}
.sample-mypage-list li{
    border-bottom: 1px solid #eaedf2;
    font-size: 18px;
    cursor: pointer;
}
.sample-mypage-content{

    width: 70%;
}