<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.team1.nbbanfare.repository.mybatis.FollowerMapper">
	<insert id="insertFollower" parameterType="FollowerForm">
		insert into friend_test(userId, followerId)
		values(#{userId}, #{followerId})
	</insert>
	
	<select id="selectFollowerById" parameterType="FollowerForm" resultType="FollowerForm">
		select userId, followerId from friend_test where userId = #{userId} and followerId = #{followerId}
	</select>	
	
	<delete id="deleteFollowerById" parameterType="FollowerForm">
		delete from friend_test
		where userId = #{userId} and followerId = #{followerId}
	</delete>
</mapper>