<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.team1.nbbanfare.repository.mybatis.FollowerMapper">
	<insert id="insertFollower" parameterType="FollowerForm">
		insert into friend
		values(#{userId}, #{followerId}, sysdate)
	</insert>
	
	<select id="selectFollowerById" parameterType="FollowerForm" resultType="FollowerForm">
		select user_email, follower_email from friend where user_email = #{userId} and follower_email = #{followerId}
	</select>	
	
	<delete id="deleteFollowerById" parameterType="FollowerForm">
		delete from friend
		where user_email = #{userId} and follower_email = #{followerId}
	</delete>
	
	<select id="selectFriend"  resultType="FollowerForm">
		select f.follower_email followerid, u.user_name username, to_char(f.follower_regdate, 'YY-MM-dd') followerRegdate, user_image userimage
		from friend f, user_info u 
		where f.follower_email = u.user_email and f.user_email = #{userId}
	</select>
</mapper>