<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.team1.nbbanfare.repository.mybatis.FundingMapper">
	<insert id="insertFunding" parameterType="FundingForm">
		insert into funding_test(fundingid, merchantuid, userid, presentid, followerid, fundingprice, fundingresult)
		values(#{fundingid}, #{merchantUid}, #{userNo}, #{presentId}, #{followerId}, #{fundingPrice}, #{fundingResult})
	</insert>
	
	<select id="selectFunding" resultType="FundingForm">
		select distinct(fd.merchantuid) merchantuid, fd.fundingid fundingid, fd.userid userid, fd.presentid presentid, pr.productname productname, fd.followerid followerid, u.user_name user_name, fd.fundingprice fundingprice, fd.fundingresult fundingresult 
		from funding_test fd, friend_test f, user_info u, present_test p, product_test pr
		where fd.followerid = f.followerid and f.followerid = u.user_id and p.presentid = fd.presentid and p.productno = pr.productno and fd.userid = #{userNo}
		order by fd.merchantuid
	</select>
	
	<update id="refundFunding" parameterType="FundingForm">
		update funding_test
		set fundingresult = 2
		where fundingid = #{fundingid} and userid = #{userNo}
	</update>
	
	<select id="selectPresentNoSearch" resultType="PresentForm">
		select fundingid from funding_test
		where presentid = #{presentNo}
	</select>
	
	<update id="refundPresentFunding" parameterType="PresentForm">
		update funding_test
		set fundingresult = 2
		where presentid = #{presentNo}
	</update>
	
	<select id="selectPresentFundingFriendName" resultType="PresentForm">
		select fd.userid userno, u.user_name username, fd.fundingprice fundingprice
		from funding_test fd, user_info u
		where u.user_id = fd.userid and fd.presentid = #{presentNo} and fd.fundingresult = 1
	</select>
	
	<update id="puchaseUpdate" parameterType="PurchaseForm">
		update funding_test
		set fundingresult = 3
		where presentid = #{presentNo} and fundingresult = 1
	</update>
	
	
	
</mapper>