<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.team1.nbbanfare.repository.mybatis.FundingMapper">
	<insert id="insertFunding" parameterType="FundingForm">
		insert into funding_test
		values(#{fundingId}, #{merchantUid}, #{userId}, #{presentId}, #{followerId}, #{fundingPrice}, #{fundingResult})
	</insert>
	
	<select id="selectFunding" resultType="FundingForm">
		select distinct(fd.merchantuid) merchantuid, fd.userid userid, fd.presentid presentid, pr.productname productname, fd.followerid followerid, u.user_name user_name, fd.fundingprice fundingprice, fd.fundingresult fundingresult 
		from funding_test fd, friend_test f, user_info u, present_test p, product_test pr
		where fd.followerid = f.followerid and f.followerid = u.user_id and p.presentid = fd.presentid and p.productno = pr.productno and fd.userid = #{userNo}
	</select>
</mapper>