<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.team1.nbbanfare.repository.mybatis.PresentMapper">
	<insert id="insertPresent" parameterType="PresentForm">
		insert into present_test(presentid, productno, userno)
		values(presentPK.nextval, #{productNo}, #{userNo})
	</insert>
	
	<select id="selectByPresent" resultType="PresentForm">
		select p.presentId presentId, u.user_name user_name, pr.productname productname, pr.productprice productprice, p.presentCount presentCount,TO_CHAR(p.presentDate, 'YYYY-MM-DD') presentDate
		from present_test p, user_info u, product_test pr
		where p.userNo = u.user_id and p.productno = pr.productno and u.user_id = #{userNo}
	</select>
	
	<select id="selectByFriendPresent" resultType="presentForm">
		select distinct(f.followerid) followerid, u.user_name username, u.user_birth userbirth, u.user_phone userphone, u.user_email useremail,
        u.user_address useraddress, u.create_date createdate, p.presentId presentId, pr.productname productname,
        (substr(pr.productimage, instr(pr.productimage, '(', 1, 1)+1, (instr(pr.productimage, ')', 1, 1)-instr(pr.productimage, '(', 1, 1)-1))) productimage, pr.productprice productprice,
        p.presentCount presentCount, p.presentDate presentDate
		from user_info u, friend_test f, present_test p, product_test pr
		where u.user_id = f.followerid and p.userNo = u.user_id and p.productno = pr.productno and f.followerid = #{followerid} 
	</select>
</mapper>