<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.team1.nbbanfare.repository.mybatis.ProductMapper">

<select id="selectAll" resultType="ProductForm">
		select productname,productprice,substr(productimage, instr(productimage, '(', 1, 1)+1, (instr(productimage, ')', 1, 1)-instr(productimage, '(', 1, 1)-1)) productimage,productkind, productno 
		from product_test
</select>

<select id="selectById" resultType="ProductForm">
	select productno, productname, productprice, substr(productimage, instr(productimage, '(', 1, 1)+1, (instr(productimage, ')', 1, 1)-instr(productimage, '(', 1, 1)-1)) productimage 
	from product_test
	where productno = #{productNo}
</select>

<select id="selectByKind" resultType="ProductForm">
	select * from product_test where productKind=#{productKind}
</select>

<insert id="insertProduct" parameterType="ProductForm">
	insert into product_test
	values(#{productName}, #{productPrice}, #{productImage}, #{productKind}, productPK.NEXTVAL, sysdate)
</insert>

<update id="mergeProduct">
	merge into product_real r
	using (select * from product_test) p
	on ( r.real_productName = p.productName)
	when matched then
	update set r.real_productPrice = p.productPrice
	when not matched then
	insert (r.real_productName,r.real_productPrice,r.real_productImage,r.real_productKind)
	values (p.productName,p.productPrice,p.productImage,p.productKind)
</update>

<delete id="deleteAll">
	delete from product_test
	where 'create_date' ^= to_char(sysdate, 'yyyymmdd') 
</delete>
</mapper>